@import "../../main.scss";

.horror-detailed-page {
  width: 100%;
  min-height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  h2 {
    color: firebrick;
    font-size: 30px;
  }

  h3 {
    color: gray;
    font-size: 15px;
  }

  span {
    color: rgb(193, 192, 192);
    font-size: 10px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .image-wrapper {
      object-fit: contain;
      padding: 10px 0;

      img {
        border-radius: 10px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 5px black;
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 20px;

      button {
        background-color: firebrick;
        color: white;
        width: 15rem;
        height: 3rem;
        border-radius: 50px;
        border: none;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      p {
        font-size: 15px;
        color: gray;
        line-height: 22px;
      }
    }
  }
}
