// horror movies banner styles
.horror-container {
  width: 100%;
  height: 30vh;
  padding: 12px;

  .horror-title {
    font-size: 30px;
    font-weight: bold;
    color: firebrick;
  }

  .horror-banner {
    width: 100%;
    height: 90%;
    background-color: firebrick;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }
}

// trending movies card
.horror-card-wrapper {
  position: relative;
  object-fit: contain;
  width: 12rem;
  height: 8rem;
  h2 {
    font-size: 10px;
    color: white;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  img {
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px black;
    &:hover {
      opacity: 0.8;
    }
  }
}
